
#final { position: absolute; top: 332px; right: -12px; background: rgba(10,10,0,0.3); width: 103px; height: 30px; color:
    pink; line-height: 28px; font-weight: bold;} 

#ID_SB_FlashGallery_Container {padding-top: 0px !important; padding-bottom: 3px !important; background: black !important;)
    !important; border: 0px solid;} .CssCatalogAdjusted_CateogeryLink {color: #e82a60 !important;} .row..fadeIn.animated {margin:
    0px; padding-top: 20px;} @media (max-width:767px) {.nav.nav-tabs.CssTabs_Ul>li { width: 100% !important; }}
    @media (max-width:767px) { #ID_ProductPage * {width: 100% !important;   }}
    @media (max-width:767px) { .CssCatProductAdjusted_AddToBasket  {position: fixed;  bottom: -34px; left: 8px;  z-index: 99; }}
    @media (max-width:767px) { .CssCatProductAdjusted_PriceSpecial  {position: fixed;  bottom: 32px; left: 27px;  z-index: 99;     font-size: 18px !important; }}
    @media (max-width:767px) { .CSS_BtnAddToBasket_Anchor {    width: 200px !important;  }}
    @media (max-width:767px) { #Submit17 {float: none !important; font-size: 24px !important;}}
    @media (max-width:767px) { #Button1 { font-size: 24px !important;}}
    @media (max-width:767px) { #dreespost {   width: 180px;  }}
    @media (max-width:767px) { .tag {     width: 100% !important;
    height: 44px !important;
    background: #ff1c5c !important;     padding-top: 0px !important;
    padding-right: 0px !important;
    top: 0px !important;     font-size: 35px !important;     line-height: 40px !important;
    left: 0px !important; }}
    @media (max-width:767px) { .CssCatalogAdjusted_status { width: 45px; margin: 0px 0px 0px 128px !important;  }}
    @media (max-width:767px) { .dreestext {   font-size: 14px !important; }}
    @media (max-width:767px) { .CssCatalogAdjusted_product_Container {margin: 0px !important;  }}
    @media (max-width:767px) {#div_FrmCatalog_9 {    width: 100% !important; padding: 0px !important;  }}
    #Table15 {    padding-top: 20px;
    background-image: url('396618_47.jpg');
    background-repeat: no-repeat;
    background-position: center top;}
    #ID_ProductPage * {max-width: 100% !important; }
    #CatIMG_PictureBig_Clean_Desc {display: none;}
    .bottomNavRight, .bottomNav, .bottomNavLeft, .bannerControls, .mycanvas,  {display: none !important;}
    @media (max-width:767px) {#products {    width: 180px; padding-right: 2px;}  }
    @media (max-width:767px) {.CssCatalogAdjusted_pic>a>img {            width: 175px;} }
    @media (max-width:767px) {.CssCatalogAdjusted_pic {        max-height: 235px;} }
    @media (max-width:767px) {.CssCatalogAdjusted_Price {    width: 175px;}  }
    @media (max-width:767px) {.CssCatalogAdjusted_PriceSpecial {    width: 175px;}  }
    @media (max-width:767px) {.details {width: 170px !important;}  }
    @media (max-width:767px) {.CssCatalogAdjusted_top {    font-size: 13px;}    }
    @media (max-width:767px) {.CssCatalogAdjusted_product{      width: initial  !important;  padding: 20px 0px !important;}}
    @media (max-width:767px) {.CssCatalogAdjusted_top {  width: 100% !important;}}
    @media (max-width:1280px) {#move{top: 82px !important;}} 
    @media (max-width:767px) { #copon * {font-size: 12px !important;  }}
    @media (max-width:767px) { #bannerdesk {display: none !important;  }}
    @media (max-width:767px) { #bannermobile {display: block !important;  }}
    @media (max-width:767px) { .sf-menu a {line-height: 25px !important;  }}
    @media (max-width:767px) { #LI_A_35378, #LI_A_35397, #LI_A_35520 {    background: url('http://downloadicons.net/sites/default/files/under--white-arrow-icon-2211.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: 10px; }}
    .figure.hdr {background: #ff829c !important}
    #mm>div>div>div>p>a>img {box-shadow: 0px 0px 25px 5px;}
    #mobile {margin-top: 40px;}
    #not3 {    background-image: url('396618_1.jpg') !important;
    background-size: 1900px !important;
    background-position-y: -217px !important;background-attachment: fixed !important;}
    @media (max-width:767px) { #not3  {background: rgb(242, 242, 242) !important;  }}
    #LI_H_35520>ul {    background-image: url("396618_7.png"); background-size: 65%;
    background-repeat: no-repeat;}
    #LI_H_35397>ul {    background-image: url('396618_99.jpg');
    background-size: contain;
    background-repeat: no-repeat;}
    #LI_H_35378>ul {    background-image: url("396618_108.jpg");
    background-size: 455px;
    background-repeat: no-repeat;
    background-position-y: 85px;}
    @media (max-width:767px) { #DDMenuTop>li>ul  {    background: transparent !important;  }}
    @media (max-width:767px) { .CssCatProductAdjusted_PicDescription>ul>li:first-child   {display: none !important;  }}
    @media (max-width:767px) { .SB_Text_Container.SB_Text_Pad  {      padding: 0px !important; }}
    @media (max-width:767px) { ul.sf-menu.sf-h-3>li>ul {  margin: 0px 0px 0px 0px !important;  }}
    @media (max-width:767px) { #toplogo {   margin-top: -10px !important; }}
    @media (max-width:767px) { ul.sf-menu.sf-h-3>li {  margin: 0px 0px 0px 0px !important; 
    padding-right: 10px  !important;  }}
    #div_CatProductAdjusted_SocialNetworks {     padding-top: 25px;   background-image: url('396618_9.png');
    background-repeat: no-repeat;
    background-position: right top;}
    .row..fadeIn.animated {    padding-top: 0px !important;
    }
    #warp { -webkit-filter: grayscale(70%); -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    filter: grayscale(70%); background-size: cover !important;}
    #warp:hover { transform: scale(1.02);
    -webkit-filter: grayscale(0%);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 2147483647;
    }
    #3warp:hover { transform: scale(1.01); transition-duration: 0.3s; }
    #rgb {  visibility: hidden;  background: rgba(255,255,255,0.5);
    border: 0px solid;     }
    #rgb1:hover {    background: transparent;
    border: 0px solid; margin-right: 20px; }
    #rgb1 {     margin-right: 20px  !important; margin-top: 15px !important; padding-right: 5px !important;}
    #backg { background: #000000 !important;
    background-attachment: fixed !important;}
    .CssCatalogAdjusted_pic>a>img:hover {transform: scale(1.04); transition-duration: 0.3s;}
    img:hover {transform: scale(1.02); transition-duration: 0.3s;}
    #Button1 {  margin-top: 20px;
    background: tomato; width: 200px;
    box-shadow: 1px 2px 5px 1px gray;  font-size: 24px;}
    #btnBuyNow {    margin-top: 0px;
    background: tomato; width: 200px;
    box-shadow: 1px 2px 5px 1px gray; float: left; font-size: 24px;}
    .container.Css_Mobile_Menu {background-image: url('http://overall.co.il/396618_12.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50px; background-position-y: 10px;
    background-size: 155px;}  
    #move {      position: absolute;
    z-index: 1;
    left: 350px;
    top: 115px;}
    .clsBG_Fullwidth {padding: 0px !important;}
    li {color: white;}
    #Table15 {    padding-bottom: 90px;
    background-image: url('396618_13.png');
    background-repeat: no-repeat;
    background-position: bottom;}
    .container.Css_Mobile_Top>div:first-child>a>img {margin-left: 40px;}
    .css_tr_Delivery, .css_tr_TotalPrice, .cls_tbl10_Langdelivery {display: none;}
    #Table10>tbody>tr:last-child>td {    font-weight: bold; }
    #cart {position: fixed;
    bottom: 10px;
    z-index: 99;    border: 0px solid white;
    }
    #cart>a>img {    border-radius: 25px 0px 0px 25px;}
    @media (max-width:767px) { #Table2 *, #Table1 * {  font-size: 13px   }}
    #Submit12 {display: none;}
    #back {background: black;
    color: white;
    border: 0;
    width: 119px;
    height: 32px;
    font-size: larger;}
    .CatIMG_PictureBig_Clean {    cursor: url('http://www.2all.co.il/web/files/Sites14/svfashion/Files_396618_(9631).ico'), auto;}
    img[src*="icon_100.png"] {
    display: none !important; margin: 500px  !important; 
    }
    .CssCatalogAdjusted_status {z-index: 999;}
    li {  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;}
    .tag {background: url('http://overall.co.il/396618_68.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 135px;
    width: 89px;
    position: relative;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 21px;
    transform: rotate(0deg);
    font-weight: bold;
    padding-top: 12px;
    /* padding-right: 87px; */
    padding-left: 0px;
    top: 40px;
    left: 315px;
    z-index: 99;
    line-height: 30px;
    }
    @media (max-height:768px) { #SB_Menu_1349  { position: static  !important; }}
    @media (max-width:767px) { .col-md-6  { padding: 0px !important;  }}
    @media (max-width:767px) { #move  { visibility: hidden !important;  }}
    @media (max-width:767px) { #DDMenuTop>li>ul>li  { margin: 0px !important;  }}
    @media (max-width:767px) { #DDMenuTop>li  {    padding: 0px !important;  }}
    @media (max-width:767px) { .CssCatProductAdjusted_PriceSpecial  {color: white !important;  }}
    @media (max-width:767px) { .salesIconText    { margin-top: 2px !important; }}
    @media (max-width:767px) { .salesIcon>img  {height: 44px !important;  width: 100% !important;}}
    @media (max-width:767px) { .salesIcon {position: relative; right: -8px !important;}}  
    @media (max-width:767px) { #mobilecat  {display: block !important;  }}
    @media (max-width:767px) { #not, .SB_Mobile_Menu_Container.col-md  {display: none !important;  }}
    @media (max-width: 767px) {.sf-menu {display: block !important;}}
    @media (max-width: 767px) {#toplogo {display: none !important;}}
    @media (max-width: 767px) {#black {display: block !important;}}
    @media (max-width: 767px) {ul.sf-menu.sf-h-3>li>a {  line-height: 40px !important;  text-align: right !important;}}
    @media (max-width: 350px) {#black>div:nth-child(2) img { margin: 0px !important;}}
    @media (max-width: 350px) {#black>div:nth-child(1), #black>div:nth-child(3)  { padding: 0px !important;}}
    .salesIcon {    position: relative; left: 70px;}
    .salesIcon>img {height: 60px; width: 65px;}
    #Submit9 {display: none;}
    #LI_A_37830 {       color: red;
    font-weight: 900;}
    #sf-menu-mobile-btn {line-height: 50px !important;     font-size: 22px !important;}
    .mloading {background: black !important;}
    #LI_A_38940  {    font-weight: 700;}
    .salesIconText {    transform: rotate(-45deg) !important;
    margin-top: 6px ;
    margin-left: 7px ;}
    #LI_H_39323 {    background-image: url(396618_60.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;}
    #LI_V_39566 {    background-image: url(396618_60.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important; background-position-x: 125px !important;}
    #LI_V_39561, #LI_V_39580, #LI_V_39581 {    border-bottom: 1px solid black; background-image: url(http://www.cityhotel.lu/welcome/templates/hot_hotel/images/top.png) !important;
    background-size: contain !important;
    background-repeat: repeat-y !important; }
    #LI_V_39561>a, #LI_V_39580>a, #LI_V_39581>a {font-weight: bold !important;}
    .fixed_button{
    position: static  !important;
    bottom: 220 !important;
    }
    #SB_Menu_1349 {    width: 250px;}
    #CatalogeDiv>div>span {display: none;}
    .row.cls_AdvencedSearch>div {    font-family: alef !important;}
    .row.cls_AdvencedSearch>div>a:first-child {  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6e/Green_Arrow_Down.svg);
    background-size: 31%;
    background-repeat: no-repeat;
    padding-left: 15px; }
    .row.cls_AdvencedSearch>div>a:nth-child(2) {  background-image: url(http://images.clipartbro.com/173/red-arrow-upsvg-173093.svg);
    background-size: 31%;
    background-repeat: no-repeat;
    padding-left: 15px; }
    .figure.hdr img { -webkit-transform: scale(1.01) !important;     opacity: inherit !important;}
    .SB_Mobile_Bottom_Background.cssSb_ContainerFullWidth {    margin-bottom: -40px !important;}
    #DDMenuTop {margin-top: -50px;     top: -10px;}
    @media (max-width: 767px) {#DDMenuTop>li {background: #191b1a !important;}}
    @media (max-width: 767px) {#Table21 .PrdDtl {width: 83% !important;     background: whitesmoke;}}
    #Table21 .PrdDtl { background: whitesmoke;}
    #Table21 #Value_0 {width: 20px !important;}
    #Table10>tbody>tr:nth-child(2)>th {    background: black !important;
    color: white !important;     font-weight: 400 !important;}
    #Table18>tbody>tr:nth-child(2)>th {    background: black !important;
    color: white !important; font-weight: 400 !important;}
    .ie-p {text-align: right;}

.sidenav { height: 100%; width: 0; position: fixed; z-index: 222222222; top: 0; right: 0; background-color: #000000;
    overflow-x: hidden; transition: 0.5s; padding-top: 40px; } .sidenav a { padding: 8px 8px 8px 32px; text-decoration: none;
    font-size: 25px; color: #818181; display: block; transition: 0.3s } .sidenav a:hover, .offcanvas a:focus{ color: #f1f1f1;
    } .sidenav .closebtn { position: absolute; top: 0; right: 5px; font-size: 16px; color: white; margin-left: 50px; } @media
    screen and (max-height: 450px) { .sidenav {padding-top: 40px;} .sidenav a {font-size: 18px;} } @media (max-width: 767px)
    {#sf-menu-mobile-btn {display: none;}} .lb-prev, .lb-next { display: block !important;} 

 

.v-center> div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -10%;
    }
    .btn {
    font-size: 3vmin;
    padding: 0.75em 1.5em;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    text-decoration: none;
    display: inline;
    border-radius: 4px;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
    }
    .btn:hover {
    background-color: #ddd;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
    }
    .btn-small {
    padding: .75em 1em;
    font-size: 0.8em;
    }
    .modal-box {
    display: none;
    position: fixed;
    z-index: 910;
    top: 176px;
    width: 98%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    }
    @media (min-width: 32em) {
    .modal-box { width: 70%; }
    }
    .modal-box header,
    .modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
    }
    .modal-box header h3,
    .modal-box header h4,
    .modal-box .modal-header h3,
    .modal-box .modal-header h4 { margin: 0; }
    .modal-box .modal-body { padding: 2em 1.5em; }
    .modal-box footer,
    .modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
    }
    .modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: black !important;
    }
    a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb;
    }
    a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
    }